{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class = "table table-striped">
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </tr>
        {% for action in actions %}
        <tr>

            <td>{{ action["symbolAction"] }}</td>
            <td>{{ action["numberAction"] }}  </td>
            <td>{{ action["priceAction"] }} </td>
            <td>{{ action["buyHour"] }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}